@import "../../style-globals.scss";

$navbar-background: $gray;
$navbar-border: 0;

$navbar-link-base-color: $white;
$navbar-link-hover-background: $orange;
$navbar-link-active-background: $green;

.navbar  {
    background: $navbar-background;
    border: $navbar-border;

    .nav {
        &.navbar-nav {
            li {
                a {
                    transition: background 0.1s;
                    color: $navbar-link-base-color;
                    font-weight: bold;
                    font-size: 110%;

                    &:hover {
                        background: $navbar-link-hover-background;
                    }
                }

                &.active {
                    a {
                        background: $navbar-link-active-background;
                    }
                }
            }
        }
    }
}