@import "../../style-globals.scss";

$navbar-background: $gray;
$navbar-border: 0;
$navbar-border-radius: 0;

$navbar-link-base-color: $white;
$navbar-link-hover-background: $slate;
$navbar-link-active-background: $white;
$navbar-link-active-text: $gray;

.navbar  {
    background: $navbar-background;
    border: $navbar-border;
    border-radius: $navbar-border-radius;

    .nav {
        &.navbar-nav {
            li {
                a {
                    transition: background 0.1s;
                    color: $navbar-link-base-color !important;
                    font-size: 110%;

                    &:hover {
                        background: $navbar-link-hover-background;
                    }
                }

                &.active {
                    a {
                        background: $navbar-link-active-background;
                        color: $navbar-link-active-text !important;
                    }
                }
            }
        }
    }
}