<div *ngIf="isLoading && !didLoadingFail">
  Loading monitor details...
</div>
<div *ngIf="!isLoading && didLoadingFail">
  <span class="text-danger">Failed to load monitor details.</span>
</div>
<div *ngIf="!isLoading && !didLoadingFail">
  <h1>{{monitor.name}} <input type="button" class="btn" [ngClass]="{'btn-primary': !isEditing, 'btn-default': isEditing}" [value]="getEditButtonText()" (click)="onClickEditButton()"/></h1>
  <app-monitor-details-form [monitor]="monitor" [isReadOnly]="!isEditing"></app-monitor-details-form>
</div>