<div *ngIf="isLoading && !didLoadingFail">
  Loading monitor details...
</div>
<div *ngIf="!isLoading && didLoadingFail">
  <span class="text-danger">Failed to load monitor details.</span>
</div>
<div *ngIf="!isLoading && !didLoadingFail">
  <h1>{{monitor.name}}</h1>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#details-form-collapse">Monitor Details</a> <input type="button" class="btn" [ngClass]="{'btn-primary': !isEditing, 'btn-default': isEditing}" [value]="getEditButtonText()" (click)="onClickEditButton()"/>
        </h4>
      </div>
      <div id="details-form-collapse" class="panel-collapse collapse in">
        <div class="panel-body">
          <app-monitor-details-form [monitor]="monitor" [isReadOnly]="!isEditing"></app-monitor-details-form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#graph-collapse">Graph</a>
        </h4>
      </div>
      <div id="graph-collapse" class="panel-collapse collapse">
        <div class="panel-body">
          <h1>Graph</h1>
        </div>
      </div>
    </div>
  </div>
</div>