<h1>Active Monitors</h1>
<div *ngIf="isLoading">
  Loading active monitors...
</div>
<div *ngIf="!isLoading && didLoadingFail">
  <span class="text-danger">Loading active monitors failed</span>
</div>
<div *ngIf="shouldDisplayDeleteMonitorAlertText()" [ngClass]="{'alert': true, 'alert-success': !didDeleteMonitorFail, 'alert-danger': didDeleteMonitorFail}">
  {{deleteMonitorAlertText}}
</div>
<div *ngIf="!isLoading && !didLoadingFail && !hasMonitors()" class="alert alert-warning">
  No monitors available. <a [routerLink]="['/new-monitor']">Create one now.</a>
</div>
<table *ngIf="shouldListMonitors()" class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Frequency</th>
      <th>Is Active?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let monitor of monitors">
      <td>{{monitor.name}}</td>
      <td>{{monitor.type}}</td>
      <td>Every {{monitor.frequencyAmount}} {{monitor.frequencyPeriod}}</td>
      <td>{{getIsActiveText(monitor)}}</td>
      <td><a [routerLink]="['/monitor-details/' + monitor._id]" [queryParams]="{edit: '1'}">Edit</a></td>
      <td><a href="#" (click)="deleteMonitor(monitor)">Delete</a></td>
    </tr>
  </tbody>
</table>