$black: #000;

$white: #ffffff;

$gray: #545354;
$gray-dark: #202020;

$slate: #3e6887;

$blue: #1982C4;
$blue-alt: #1B93B7;

$green: #8AC926;

$red:#b21909;
$red-alt: #FF595E;

$yellow: #F4E575;
$yellow-light: #FFF4A3;
$yellow-dark: #E5B700;

$orange: #F28D00;

$text: $gray-dark;
$text-link: $blue;

$alert-warning-bg: $yellow;
$alert-warning-border: $yellow-dark;
$alert-warning-text: $text;