@import "style-globals.scss";

body {
    color: $gray !important;
}

a {
    color: $text-link !important;
}

.btn {
    &.btn-primary {
        background-color: $blue;
    }
}

.alert {
    &.alert-warning {
        background: $alert-warning-bg;
        border-color: $alert-warning-border;
        color: $alert-warning-text;
    }
}

.panel {
    .panel-heading {
        .panel-title {
            a {
                color: $gray-dark !important;
            }
        }
    }
}