<div *ngIf="didFinishSave && !isReadOnly">
  <div [ngClass]="{'alert': true, 'alert-success': !didSaveFail, 'alert-danger': didSaveFail}">
    {{afterSaveMessage}}
  </div>
</div>
<form class="form">
  <div class="form-group">
    <label for="inputName">Name</label>
    <input *ngIf="!isReadOnly" type="text" class="form-control" id="inputName" name="inputName" [disabled]="isSaving" [(ngModel)]="monitor.name" placeholder="Name"/>
    <p *ngIf="isReadOnly">{{monitor.name}}</p>
  </div>
  <div class="form-group">
    <label for="inputType">Type</label>
    <select *ngIf="!isReadOnly" class="form-control" id="inputType" name="inputType" [disabled]="isSaving" [(ngModel)]="monitor.type">
      <option *ngFor="let type of types" [ngValue]="type">
        {{type}}
      </option>
    </select>
    <p *ngIf="isReadOnly">{{monitor.type}}</p>
  </div>
  <div *ngIf="isWebRequestType()" class="form-group">
    <app-web-request-details [webRequestDetails]="monitor.webRequestDetails" [isSaving]="isSaving" [isReadOnly]="isReadOnly"></app-web-request-details>
  </div>
  <div *ngIf="isPingType()" class="form-group">
    <app-ping-details [pingDetails]="monitor.pingDetails" [isSaving]="isSaving" [isReadOnly]="isReadOnly"></app-ping-details>
  </div>
  <fieldset>
    <legend>Frequency (e.g. every 5 minutes)</legend>
      <div class="form-group">
        <label for="inputFrequencyAmount">Frequency Amount</label>
        <input *ngIf="!isReadOnly" type="number" class="form-control" id="inputFrequencyAmount" name="inputFrequencyAmount" [disabled]="isSaving" [(ngModel)]="monitor.frequencyAmount" placeholder="Frequency Amount"/>
        <p *ngIf="isReadOnly">{{monitor.frequencyAmount}}</p>
      </div>
      <div class="form-group">
        <label for="inputFrequencyPeriod">Frequency Period</label>
        <select *ngIf="!isReadOnly" class="form-control" id="inputFrequencyPeriod" name="inputFrequencyPeriod" [disabled]="isSaving" [(ngModel)]="monitor.frequencyPeriod">
          <option *ngFor="let frequencyPeriod of frequencyPeriods" [ngValue]="frequencyPeriod">
            {{frequencyPeriod}}
          </option>
        </select>
        <p *ngIf="isReadOnly">{{monitor.frequencyPeriod}}</p>
      </div>
    </fieldset>
    <div class="form-group">
      <label><input type="checkbox" name="inputIsActive" id="inputIsActive" [disabled]="isSaving || isReadOnly" [(ngModel)]="monitor.isActive"/> Is Active?</label>
    </div>
    <div class="form-group" *ngIf="!isReadOnly">
        <input type="button" class="btn btn-primary" value="Save" [disabled]="!canSave()" (click)="doSave()"/>
      </div>
</form>